NEXT_PUBLIC_SUPABASE_URL=https://emyonhlqaoalyedmxpup.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVteW9uaGxxYW9hbHllZG14cHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MDkzMTcsImV4cCI6MjA5MTQ4NTMxN30.XOnVQRz6NyKHleyl-_JUOLq6279r3AJF6DNyPK5ENro
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVteW9uaGxxYW9hbHllZG14cHVwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTkwOTMxNywiZXhwIjoyMDkxNDg1MzE3fQ.mjIaAa4HTUKlruqkMMqzgAeP_pW-pvdxN11cx7A7640
SUPABASE_BUCKET=team-photos
ADMIN_EMAILS=
